/* base.css */
body {
    font-family: 'Architects Daughter', cursive;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f5f5f5;
    transition: background-color 0.5s ease-in-out;
  }
  
  header {
    background-color: #333;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  h1, h2, h3, h4, h5, h6 {
    margin: 0;
    color: #333;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  nav ul li {
    display: inline;
    margin-left: 10px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
  }
  
  footer {
    background-color: #333;
    padding: 20px;
    text-align: center;
    color: #fff;
  }