/* url-shortener.css */
.shorten-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .shorten-bar textarea {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    background-color: #f9f9f9;
    color: #333;
    resize: vertical;
    margin-bottom: 10px;
  }
  
  .checkbox-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .checkbox-container label {
    margin-left: 5px;
    font-size: 16px;
  }
  
  .shorten-bar button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #ff9800;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .short-url-container {
    margin-top: 20px;
    text-align: center;
    font-size: 18px;
    color: #fff;
  }
  
  .short-url-container a {
    color: #ff9800;
    text-decoration: none;
    display: block;
    margin-bottom: 10px;
  }