/* hero.css */
.hero {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  
  .character {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  #characterImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.5s ease-in-out;
  }
  
  #chalkboardCanvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .message-container {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    max-width: 400px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    z-index: 1;
  }
  
  .message {
    font-size: 24px;
    text-align: center;
    color: #333;
    margin-bottom: 20px;
  }

  #animate-text {
    font-size: 2em;
    color: #000;
    text-align: center;
    margin-top: 20vh;
  }