/* responsive.css */
@media screen and (max-width: 768px) {
    .hero {
      flex-direction: column;
      align-items: center;
      padding: 20px;
    }
  
    .character {
      margin-right: 0;
      margin-bottom: 20px;
      max-width: 100%;
    }
  
    #characterImage {
      max-width: 100%;
      height: auto;
    }
  
    .message-container {
        position: static;
        transform: none;
        max-width: 100%;
        margin-top: 20px;
      }
  
    .message {
      font-size: 18px;
    }
  
    .container {
      max-width: 100%;
    }
  
    .search-bar input,
    .shorten-bar textarea {
      width: 100%;
      max-width: none;
    }
  }