<!-- views\game\gameTimer.ejs -->
<div class="game-timer" data-total-time="30">
  <p>Time remaining: <span id="timer">30</span> seconds</p>
  <div class="progress-bar">
    <div class="progress" id="progress"></div>
  </div>
</div>