<div class="rules-game" id="rulesGame">
  <div class="rules-header">
    <h2>Game Rules</h2>
    <button id="skip-rules-btn" class="skip-rules-btn">Skip Rules</button>
  </div>
  <div class="rules-content">
    <p>Welcome to the "Find the Original URL" game!</p>
    <ul>
      <li>You have <span class="highlight">30 seconds</span> to find the original URL by searching on Google.</li>
      <li>Use the search input to enter your queries.</li>
      <li>The search results will be displayed as a list of options.</li>
      <li>Select the search result that you believe is the original URL.</li>
      <li>Click the <span class="highlight">"Submit Answer"</span> button to check your answer.</li>
      <li>If you need a hint, click the <span class="highlight">"Get a Hint"</span> button.</li>
      <li>Find the original URL within the time limit to win the game!</li>
    </ul>
    <div class="countdown">
      <p>Game starts in: <span id="countdown-timer">5</span> seconds</p>
      <div class="countdown-animation"></div>
    </div>
    <button id="start-game-btn" class="start-game-btn">Start Game</button>
  </div>
  <div class="rules-footer">
    <p>Good luck and have fun!</p>
  </div>
</div>