<div class="game-search">
  <form id="search-form">
    <input type="text" id="search-input" placeholder="Search on Google..." autocomplete="off">
    <button type="submit" id="search-button" class="btn btn-primary">Search</button>
  </form>
  <div id="search-results" class="search-results"></div>
  <button id="submit-answer-btn" class="btn btn-success" disabled>Submit Answer</button>
</div>